.navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 96Vh;
}
.accesos{
    font-family: "Formula1 Display-Regular";
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.order{
    font-family: "Formula1 Display-Regular";
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.filters{
    font-family: "Formula1 Display-Regular";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: red;
    font-family: "Formula1 Display-Regular";
    height: 30px;
    width: 120px;
    font-size: medium;
    margin: 20px;
}
