.navBar{
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100%;
    margin: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    background-image: url(../../assets/NavBar.jpg);
    background-size: contain;
    background-repeat:round;
}
.search{
    font-family: "Formula1 Display-Regular";
    text-align: center;
    font-size: larger;
}
.accesos{
    text-align: center;
    font-family: "Formula1 Display-Regular";
    display: grid;
    justify-items: center;
    font-size: larger;
}

.order{
    text-align: center;
    font-family: "Formula1 Display-Regular";
    display: grid;
    justify-items: center;
    font-size: larger;
}
.filters{
    text-align: center;
    font-family: "Formula1 Display-Regular";
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.btn{
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: red;
    font-family: "Formula1 Display-Regular";
    height: 33px;
    width: 200px;
    font-size: medium;
    margin: 20px;
}
.formbtn{
    background-color: red;
    color:black;
    font-family: "Formula1 Display-Regular";
    height: 60px;
    width: 300px;
    font-size: large;
    margin: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
