.navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 96Vh;
}
.accesos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.accbtn{
    font-family: "Formula1 Display-Regular";
    height: 30px;
    width: 120px;
    font-size: medium;
    margin: 20px;
}
.order{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.ordBtn{
    font-family: "Formula1 Display-Regular";
    height: 30px;
    width: 120px;
    font-size: medium;
    margin: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filBtn{
    font-family: "Formula1 Display-Regular";
    height: 30px;
    width: 120px;
    font-size: medium;
    margin: 20px;
}
