.container{
    display: grid;
    grid-template-columns: 18% 18% auto 18% 18%;
    grid-template-rows: 40% 40% 20%;
    gap: 15px;
    background-repeat:no-repeat;
    margin: 20px;
    justify-items: stretch;
    align-content: space-between;
    justify-content: space-between;
}
.pagination{
    grid-column: 5/5;
}