.container{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 40% 40% auto;
    gap:10px;
    background-repeat:no-repeat;
    margin: 10px;
    justify-items: stretch;
    align-content: space-between;
    justify-content: space-between;
}
.pagination{
    grid-column: 5/5;
}