.container{
    display:grid;
    grid-template-columns: auto 15%;
    grid-template-rows: auto auto 10%;
    grid-template-areas:
    "maim nav"
    "main nav"
    "main nav";
    width: 97vw;
    
}
.nav{
    grid-area: nav;
}
.cardCont{
    grid-area: main;
}